Q.csv
D.csv
00.csv
01.csv
10.csv
11.csv
20.csv
21.csv
30.csv
31.csv
40.csv
41.csv
50.csv
51.csv
60.csv
61.csv

.Rhistory
.ipynb_checkpoints
code/.RData
code/add.txt
Aliev_codes/001_0.0.txt
Aliev_codes/0583_24.500.txt
Aliev_codes/0953_39.5.txt
Aliev_codes/Aliev_13_50.pdf
Aliev_codes/debug.log
Aliev_codes/GDS287.soft
Aliev_codes/GDS288_full.soft
Aliev_codes/MAIN.R
Aliev_codes/PrePiValue(forCel-files).R
Aliev_codes/PrePiValue(forIlluminaPlatform).R
Aliev_codes/QN.R
Aliev_codes/Research_6.R
Aliev_codes/Статья_Алиев,Борисов.docx
